body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    background-color: rgb(127, 175, 175);
}
#container {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
}
#formulario {
    border-radius: 6%;
    top: 134px;
    right: 555px;
    width: 310px;
    height: 380px;
    position: absolute;
    background-color: rgb(245, 237, 237);
}
#formulario h1 {
    margin-left: 105px;
    margin-top: 60px;
    color: rgb(127, 175, 175);
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
#formulario h2 {
    font-size: 13px;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    margin-left: 78px;
    color: gray;
}
#form {
    height: 170px;
}
#div-email {
    width: 340px;
    margin-top: 50px;
    margin-left: 50px;
    height: 60px;
}
#div-password{
    width: 340px;
    margin-top: 0px;
    margin-left: 50px;
    height: 60px;
}
#submit-btn{
    width: 93px;
    margin-top: 8px;
    margin-left: 50px;
    height: 28px;
}
.input{
    width: 205px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #cec6c6;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.input:focus {
    background-color: rgb(245, 237, 237);
}
#input-btn {
    width: 205px;
    background-color: rgb(127, 175, 175);
    border: none;
    cursor: pointer;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    transition: all .3s;
}
input:focus {
    outline-width: 0;
    background-color: white;
}

