body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 98%;
    background-color: rgb(233, 231, 231);
    -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
    width: 8px;

  }
  /* Track */
body::-webkit-scrollbar-track {
    background: rgb(130, 135, 136);

  }
   
  /* Handle */
body::-webkit-scrollbar-thumb {
    background: rgb(74, 114, 126); 
    border-radius: 25px; 
  }
  
  /* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#forminitial {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#piechart {
    border-radius: 6%;
    width:  250px;
    height: 300px;

}

/*----------------Carrossel-------------------*/

/*Ajustes dos slides/carrossel*/
* {box-sizing: border-box;}
.slideshow-container {
    padding-top: 126px;
    margin: 20px 0px 55px 627px;
    max-width: 350px;
    height: 400px;
    position: relative;
}

/*Hide images by default*/
.mySlides {
    position: relative;
}

/*Next and previous buttons*/
.prev {
    cursor: pointer;
    position: absolute;
    top: 74%;
    width: auto;
    margin-top: -80px;
    padding: 36px;
    color: white;
    font-weight: bold;
    font-size: 44px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: -85px;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 75%;
    width: auto;
    margin-top: -80px;
    margin-right: 15px; 
    padding: 36px;
    color: white;
    font-weight: bold;
    font-size: 44px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    right: 0;
}

  /* The dots/bullets/indicators */
#controle {
    margin-top: -55px;
    margin-left: 302px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 7px;
    margin-right: 42px;
    margin-left: -34px;
  }
  .active, .dot:hover {
    background-color: #717171;
  } 

  /*Fading animation*/
  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }
  @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }

  /*----------------Fim do carrossel------------------*/


  /*----------------Expandable Sidebar---------------------------*/
 
  .sidebar {
    height: 144%;
    width: 50px;
    position: absolute;
    top: 66px;
    bottom: 0;
    left: 0;
    background-color: rgb(0,188,212);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}
.sidebar::-webkit-scrollbar {
    width: 8px;
    height: 100%;
  }
  /* Track */
  .sidebar::-webkit-scrollbar-track {
    background: rgb(109, 175, 184);
    overflow-x: hidden;
  }
   
  /* Handle */
  .sidebar::-webkit-scrollbar-thumb {
    background: rgb(35, 116, 141); 
    border-radius: 25px;
  }
  
  /* Handle on hover */
  .sidebar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.icon-text {
    display: flex;
    width: 252px;
    height: 48px;
    user-select: none; /* Prevent text selection */
}

.icon-text button {
    display: flex;
    left: 0;
    width: 270px;
    height: 48px;
    cursor: pointer;
    border: none;
    font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
    font-size: 13px;
    background-color: rgb(0,188,212);
    margin: -4px 0px 0px -45px;
    padding-left: 46px;
    color: white;
}

.icon-text button:hover {
    background-color: rgb(89, 144, 151);
    transition: 0.6s;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 100px;
}

#header {
  position: absolute;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 2px -2px grey;
}

#container-tela {
    transition: initial;
    transition: 0.6s;
    
}

/*---------CONVERSAO DE MOEDA-----------*/

#dinheiro {
  background: transparent;
  padding: 0px 0px 0px 32px;
  display: flex;
  flex-direction: row;
  margin-top: -25px;
  position: relative;
  left: 20px;

}
#dinheiro ul {
    display: table;
    padding: 15px;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
    border-spacing: 20px;
}
#dinheiro li {
    width: 290px;
    height: 128px;
    display: table-cell;
    padding-top: 40px;
    font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
    color: rgb(12, 9, 9);
    font-size: 33px;
    text-align: center;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 18px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(255, 255, 255);
}

/*---------FIM DA CONVERSAO DE MOEDA----*/
#grafico-balancete {
  padding: 0px 0px 0px 0px;
  margin-top: -378px;
  margin-left: 100px;
}
#grafico-longo {
  margin-left: 645px;
}
#dois-graficos {
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;
}

/*------------Div balancete--------------*/

#balancete {
    background: transparent;
    display: flex;
    flex-direction: row;
    top: -61px;
    right: -15px;
    position: relative;
}
#balancete ul {
    display: table;
    border-spacing: 13px;
    top: -61px;
}
#balancete li {
    background: red;
    margin: 5px;
    width: 234px;
    height: 128px;
    display: table-cell;
    padding: 15px;
    list-style-position: inside;
    border-radius: 2%;
    box-shadow: 0 4px 2px -2px gray;
}
#balancete2 {
    position: relative;
    display: flex;
    flex-direction: row;
    top: -100px;
    right: -15px;

}
#balancete2 ul {
    display: table;
    border-spacing: 13px;
}
#balancete2 li {
    background: red;
    margin: 5px;
    width: 234px;
    height: 128px;
    display: table-cell;
    padding: 15px;
    list-style-position: inside;
    border-radius: 2%;
    box-shadow: 0 4px 2px -2px gray;
}

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: -76px 10px 10px 4px;
    padding: 5px 10px 10px 1px;
    position: absolute;
    top: 287px;
  }
  
  /* Style the caret/arrow */
  .caret {
    user-select: none;
    background-color: rgb(0,188,212);
    display: flex;
    left: 0;
    width: 270px;
    height: 48px;
    cursor: pointer;
    border: none;
    font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
    font-size: 13px;
    color: white;
    margin: -5px 38px 5px -45px;
    padding: 15px 10px 10px 46px;
  }

  .caret:hover {
    background-color: rgb(89, 144, 151);
    transition: 0.6s;
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {  
    background-color: rgb(0,188,212);
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
    background-color: rgb(0,188,212);
    padding: 0px 20px 21px 3px;

  }
  .nested li {
    margin: -4px 38px 5px -61px;
    padding: 16px 100px 17px 60px;
    display: flex;
    width: 311px;
    height: 48px;
    cursor: pointer;
    border: none;
    font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
    font-size: 13px;
    color: white;
  }
  .nested li:hover {
    background-color: rgb(89, 144, 151);
    transition: 0.6s;
    cursor: pointer
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }     

  /*----------PROFILE PICTURE------------*/

  #imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#avatar {
    width: 42px;
    height: 40px;
    right: 69px;
    top: 18px;
    background-color: grey;
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#avatar img {
    width: 42px;
    height: 40px;
}

#ola-dropdown {
    width: 215px;
    height: 208px;
    margin-top: 60px;
    position: fixed;
    right: 52px;
    background-color: white;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 18px 8px 16px 0px rgba(0,0,0,0.2);
}
#ola-dropdown:before {
  content: ' ';
  position: fixed;
  top: 61px;
  right: 80px;
  border: 10px solid transparent;
  border-right-color: white;
}
#avatar:hover #ola-dropdown {
  display: block;
  z-index: 20;
}
#ola-dropdown-content {
  padding: 25px 0px 0px 70px;
  z-index: 20;
}
#ola-dropdown-texto {
  padding-left: 30px;
  color: black;
  z-index: 20;
}
.rodape{
  background-color: rgb(35, 47, 61);
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.texto-rodape{
  text-decoration:none;
  color: rgb(170, 159, 159);
}

#art-1 {
  text-align: justify;
  margin-top: 70px;
  margin-left: 270px;
  color: rgb(170, 159, 159);
}
#art-2 {
  text-align: justify;
  margin-top: -85px;
  margin-left: 640px;
}
#art-3 {
  text-align: justify;
  margin-top: -85px;
  margin-left: 1040px;
}


#div-btn {
  position: absolute;
  width: 100%;
  margin-top: -30px;
  background-color: rgb(19, 26, 34);
}
#div-btn:hover {
  background-color: rgb(24, 17, 17);
}

#usuario {
  position: absolute;
  left: -44px;
  background-color: rgb(0,188,212);
  width: 251px;
  top: -211px;
  height: 212px;
}

.avatar {
  position: absolute;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  top: 30px;
  left: 70px;
  border-radius: 50%;
  cursor: pointer;
}

#nome-usuario {
  position: absolute;
  top: 125px;
  left: 35px;
  font-size: 20px;
  font-family: MontSerrat,Tahoma,Arial,sans-serif;
  color: white;
}

.bloco-questoes {
  cursor: pointer;
}